<div class="container">
  <button type="button" class="custom-link" (click)="volverInicio()">Volver a Iniciar Sesión</button>
  <br>

  <h2>Formulario de Registro</h2>
  <form [formGroup]="registroForm" (ngSubmit)="registrar()" class="needs-validation">
    <div class="form-group">
      <label for="nombre">Nombre y Apellidos</label>
      <input type="text" id="nombreapellidos" formControlName="nombreapellidos" class="form-control" placeholder="Nombre y Apellidos" required>
     <!-- Mensaje de error si el campo es obligatorio y se toca -->
      <div class="text-danger" *ngIf="registroForm.get('nombre')?.hasError('required') && registroForm.get('nombre')?.touched">
        El nombre y apellidos es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="tel" id="telefono" formControlName="telefono" class="form-control" placeholder="Teléfono" required>
      <!-- Mensaje de error si el campo es obligatorio y se toca -->
      <div class="text-danger" *ngIf="registroForm.get('telefono')?.hasError('required') && registroForm.get('telefono')?.touched">
        El teléfono es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="correo">Correo Electrónico</label>
      <input type="email" id="correo" formControlName="correo" class="form-control" placeholder="Correo Electrónico" required>
      <div class="text-danger" *ngIf="registroForm.get('correo')?.hasError('required') && registroForm.get('correo')?.touched">
        El correo electrónico es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" id="direccion" formControlName="direccion" class="form-control" placeholder="Dirección">
    </div>

    <div class="form-group">
      <label for="localidad">Localidad</label>
      <input type="text" id="localidad" formControlName="localidad" class="form-control" placeholder="Localidad">
    </div>

    <div class="form-group">
      <label for="provincia">Provincia</label>
      <input type="text" id="provincia" formControlName="provincia" class="form-control" placeholder="Provincia">
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Contraseña" required>
      <div class="text-danger" *ngIf="registroForm.get('password')?.hasError('required') && registroForm.get('password')?.touched">
        La contraseña es obligatoria.
      </div>
      <div class="text-danger" *ngIf="registroForm.get('password')?.hasError('minlength') && registroForm.get('password')?.touched">
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
    
    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirmar Contraseña" required>
      <div class="text-danger" *ngIf="registroForm.get('confirmPassword')?.hasError('required') && registroForm.get('confirmPassword')?.touched">
        Debes confirmar la contraseña.
      </div>
      <div class="text-danger" *ngIf="registroForm.hasError('passwordMismatch') && registroForm.touched">
        Las contraseñas no coinciden.
      </div>
    </div>
    

    <div class="form-check">
      <input type="checkbox" id="condiciones" formControlName="condiciones" class="form-check-input" required>
      <label for="condiciones" class="form-check-label">Acepto las condiciones de uso</label>
      <div class="text-danger" *ngIf="registroForm.get('condiciones')?.hasError('required') && registroForm.get('condiciones')?.touched">
        Debes aceptar las condiciones de uso.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registroHabilitado">Registrar</button>
  </form>
</div>
